<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/editormd/css/editormd.min.css">
	<title>Document</title>
</head>
<body>
	${require('../../widget/doc/doc.ejs')}
	${require('../../widget/robot/robot.ejs')}
</body>
</html>