<div class="edit-header">
	<input type="text" class="edit-header-title" id="j-edit-header-title" placeholder="请输入标题" data-id=<%=id||''%> value="<%=title||''%>">
	<select name="" id="j-edit-header-select" class="edit-header-select">
		<option value="JavaScript">JavaScript</option>
		<option value="HTML&CSS">HTML&CSS</option>
		<option value="Linux">Linux</option>
		<option value="web安全">web安全</option>
		<option value="其他">其他</option>
	</select>
	<div class="edit-header-submit" id="j-edit-header-submit"><!--save--></div>
</div>