<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
<link href="/style/index_29ae1414124ca93aea42.css" rel="stylesheet"></head>
<body>
    <div class="banner">
    <div class="photo"></div>
</div>
<div class="nav">
    <div class="nav-before">
        <a href="">目录</a>
    </div>
    <div class="nav-after">
        <a href="">编辑器</a>
    </div>
</div>
    <div class="list-outline">
    <div class="list">
        <ul class="list-top"></ul>
        <ul class="list-bottom"></ul>
    </div>
    <span class="previous">PREVIOUS</span>
    <span class="next">NXET</span>
</div>
<script type="text/javascript" src="/script/index_29ae1414124ca93aea42.js"></script></body>
</html>