<div class="doc">
	<div class="doc-title">
		<h5><%=data.title%></h5>
	</div>
	<div class="doc-subtitle">
		<span class="doc-subtitle-type"><%=data.type%></span>
		<span class="doc-subtitle-time"><%=data.time%></span>
	</div>
	<div class="doc-content markdown-body editormd-preview-container"><%-data.html%></div>
</div>