<div class="robot" id="J-robot">
	<div class="md-outline" >
	    <div class="md-guang">
	   		 <div class="md-part-border1">
	   		 </div>
	    </div>
	    <div class="md-part-border2"></div>
	</div>
	<input type="file" id="J-audio" class="robot-input"></input>
</div>
