<div class="banner" id="J-banner">
	<canvas class="board" id="J-board"></canvas>
	<div class="banner-bg"></div>
	<div class="photo"></div>
</div>
<div class="nav">
	<div class="nav-before">
		<a href="">目录</a>
	</div>
	<div class="nav-after">
		<a href="./edit">编辑器</a>
	</div>
</div>