<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	${require('../../widget/banner/banner.ejs')}
	${require('../../widget/list/list.ejs')}
	${require('../../widget/robot/robot.ejs')}
</body>
</html>