<li class="index-item-outline <%if(top){%>istop<%}%>">
	
	<%if(!top){%><div class="index-line"></div><%}%>
	<div class="index-item">
			<h3 class="title"><%=data.title%></h3>
			
			<p class="content"><%=data.content%></p>
	</div>
	<%if(top){%><div class="index-line"></div><%}%>
</li>